---
import Layout from '../layouts/Layout.astro';

import { data } from '../data/index.js';
import SlackMessage from '../components/SlackMessage.astro';
---

<Layout title="Home">
  <main class="text-sand-12">
    <img src="/rainbow-bg.webp" alt="background" class="absolute w-[1440px] top-[-151px]" />
    <div class="container-small mt-16">
      <h2 class="text-[1.75rem] leading-[2.375rem] tracking-[0.2px] font-bold">
        {data.en.headline1}<br />
        <Fragment set:html={data.en.headline2} />
      </h2>
    </div>
    <div class="flex justify-center max-w-full overflow-x-hidden py-10">
      <div class="flex items-start">
        {
          data.en.slackMessages.map((messages, index) => (
            <div
              class:list={{
                'z-[4] -mr-[15px]': index === 0,
                'z-[3]': index === 1,
                'z-[2]': index === 2,
                'z-[1]': index === 3,
              }}
            >
              {messages.map(({ message, ...data }) => (
                <SlackMessage {...data}>{message}</SlackMessage>
              ))}
            </div>
          ))
        }
      </div>
    </div>
  </main>
</Layout>
