---
import '../index.css';
import '@radix-ui/colors/orange.css';
import '@radix-ui/colors/sand.css';

interface Props {
  title: string;
  i18nAlternates?: {
    lang: 'de' | 'en';
    href: string;
  }[];
}

const { title, i18nAlternates } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Supertray - {title}</title>
    {i18nAlternates?.map((alternate) => <link rel="alternate" hreflang={alternate.lang} href={alternate.href} />)}
    <slot name="head" />
  </head>
  <body class="min-h-screen bg-sand-1 dark:bg-sand-2">
    <header id="nav" class="sticky z-20 top-0">
      <div class="max-w-[1440px] mx-auto flex justify-between px-6 py-4 align-center transition">
        <h2 class="text-xl font-bold text-sand-12">Supertray</h2>
        <div>
          <slot name="nav-right" />
        </div>
      </div>
    </header>
    <slot />
  </body>
</html>

<script>
  window.addEventListener('scroll', () => {
    const header = document.querySelector('#nav');
    if (!header) return;
    if (window.scrollY > 1) {
      header.classList.add('shadow-sm', 'backdrop-blur-md', 'bg-sand-1/80');
    } else {
      header.classList.remove('shadow-sm', 'backdrop-blur-md', 'bg-sand-1/80');
    }
  });
</script>
